.back_container {
    display: flex;
    align-items: center;
    padding: 8px 12px;
    cursor: pointer;
    background: #383D51;
    box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.06);
    border-radius: 8px;
}

.back_container span {
    display: inline-block;
    margin-left: 8px;
    font-style: normal;
    font-weight: 600;
    font-size: 14px;
    line-height: 20px;
    color: #A5A8B6;
}

.proceed_container {
    background: linear-gradient(55.61deg, #30BAC6 -0.35%, #B6509E 92.67%);
    display: flex;
    align-items: center;
    padding: 8px 12px;
    cursor: pointer;
    box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.06);
    border-radius: 8px;
    position: relative;
}

.proceed_container span {
    display: inline-block;
    margin-right: 8px;
    font-style: normal;
    font-weight: 600;
    font-size: 14px;
    line-height: 20px;
    color: #EAEBEF;
}

.proceed_tooltip {
    position: absolute;
    /* bottom: -100%; */
    top: calc(100% + 10px);
    left: 50%;
    transform: translateX(-50%);
    width: 200px;
    padding: 5px 10px;
    border-radius: 4px;
    background: #383D51;
}