.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    border: 1px solid #3F424F;
    border-radius: 4px;
    background-color: #2A2E3F;
}

.wallet_assets_container {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 12px;
}

.wallet_balance_text {
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 20px;
    color: #A5A8B6;
    display: inline-block;
    margin-top: 28px;
}

.selected_asset_details {
    display: flex;
    align-items: center;

}

.selected_asset_details__container {
    display: flex;
    align-items: flex-start;
    flex-direction: column;
    height: 50px;
    justify-content: space-between;
}

.selected_asset_details__container+.selected_asset_details__container {
    margin-left: 36px;
    border-left: 1px solid #3F424F;
    padding-left: 36px;
}

.selected_asset_details__container span:first-child {
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 20px;
    color: #A5A8B6;
}

@media screen and (max-width:600px) {
    .wallet_assets_container {
        grid-gap: 8px;
    }

    .wallet_balance_text {
        font-size: 12px;
        line-height: 16px;
        margin-top: 18px;
    }

    .selected_asset_details {
        flex-direction: column;
        align-items: flex-start;
    }

    .selected_asset_details__container {width: 100%;}

    .selected_asset_details__container+.selected_asset_details__container {
        margin-left: 0;
        border-left: none;
        padding-left: 0;
        margin-top: 12px;
        padding-top: 12px;
        border-top: 1px solid #3F424F;
    }

    .selected_asset_details__container:last-child {
        margin-top: 24px;
    }
}