@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&display=swap');

html,
body {
  padding: 0;
  margin: 0;
  font-family: 'Inter', sans-serif;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

@media (prefers-color-scheme: dark) {
  html {
    /* color-scheme: dark; */
  }

  body {
    /* color: white; */
    background: #0B1124;
  }
}

/* ! MUI override styles */
.css-pqjvzy-MuiSvgIcon-root-MuiSelect-icon {
  fill: #ffffff;
}

.MuiTabs-flexContainer {
  justify-content: space-between;
  background-color: #292E41;
  margin: 20px 0;
  border-radius: 8px;
  padding: 8px;
}

.MuiList-root {
  border: 1px solid #3F424F;
}

.MuiTabs-scroller>span {
  display: none;
}

.MuiTabs-indicator.css-1aquho2-MuiTabs-indicator {
  display: none;
}

.MuiButtonBase-root {
  text-transform: none;

}

.MuiButtonBase-root.Mui-selected {
  color: #fff;
  font-weight: 600;
  background-color: #383D51;
  border-radius: 8px;
  text-transform: none;
}

/* .css-5hh9wz-MuiButtonBase-root-MuiTab-root {
  height: 32px;
  padding: 0;
} */

.css-6hp17o-MuiList-root-MuiMenu-list {

  padding: 0;
}

.MuiButtonBase-root.Mui-selected {
  border-radius: 0;
}

.MuiButtonBase-root.Mui-selected:hover {
  background-color: #333A52;
}

/* label+.css-etpkar-MuiInputBase-root-MuiInput-root-MuiSelect-root {
  margin-top: 0;
} */
.css-b11kyg-MuiPaper-root-MuiMenu-paper-MuiPaper-root-MuiPopover-paper {
  background-color: #2A2E3F;
}

.css-nfa4cw-MuiPaper-root-MuiMenu-paper-MuiPaper-root-MuiPopover-paper {
  background-color: #292E41;
}

.MuiPaper-root.MuiPaper-elevation.MuiPaper-rounded.MuiPaper-elevation1.MuiMenu-paper.MuiPaper-elevation8.MuiPopover-paper {
  background-color: #292E41;
}

.css-1xheqax-MuiButtonBase-root-MuiMenuItem-root.Mui-focusVisible {
  background-color: #383D51;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
input[type=number] {
  -moz-appearance: textfield;
}

.MuiCircularProgress-root {
  margin: 0 !important;
}

#lend_asset_selection_dropdown {
  padding-left: 10px;
}

#lend_asset_selection_dropdown span {
  display: none !important;
}

#lend_asset_selection_dropdown span:first-child {
  display: block !important;

}

#lend_asset_selection_dropdown span:first-child img {
  transform: translateY(4px);

}

.MuiFormLabel-root.MuiInputLabel-root.MuiInputLabel-formControl {
  transform: translateY(12px);
}

.MuiInputLabel-shrink {
  display: none;
}

.MuiInputBase-root.MuiInput-root.MuiInput-underline {
  margin-top: 0;
  height: 48px;
  /* margin-bottom: 16px; */
}

.MuiInputBase-root.MuiInput-root.MuiInput-underline:hover {
  border: none !important;
}

.MuiInputBase-root.MuiInput-root.MuiInput-underline::before {
  border: none !important;
}

.MuiInputBase-root.MuiInput-root.MuiInput-underline::after {
  border: none !important;
}

.MuiMenu-paper {
  margin-top: 20px;
  box-shadow: 0px 10px 45px 9px rgba(107, 53, 118, 0.16), 0px 4px 6px -2px rgba(0, 0, 0, 0.05);
}